<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOltdLCJkaXNwbGF5TmFtZSI6Ik9oIE15IEZsYWci
		LCJwYWNrYWdlS2luZCI6eyJyb290Ijp7fX0sInBsYXRmb3JtcyI6W3sib3B0
		aW9ucyI6W10sInBsYXRmb3JtTmFtZSI6ImlvcyIsInZlcnNpb24iOiIxNS4w
		In1dLCJwcm9kdWN0cyI6W3sibmFtZSI6Ik9oIE15IEZsYWciLCJzZXR0aW5n
		cyI6W3siYnVuZGxlSWRlbnRpZmllciI6WyJjb20ueW9uZ2ZyYW5rLm9oLW15
		LWZsYWciXX0seyJ0ZWFtSWRlbnRpZmllciI6WyJMM1A4WVA0WFJIIl19LHsi
		ZGlzcGxheVZlcnNpb24iOlsiMS4wLjAiXX0seyJidW5kbGVWZXJzaW9uIjpb
		IjUiXX0seyJpT1NBcHBJbmZvIjpbeyJhY2NlbnRDb2xvciI6eyJhc3NldCI6
		eyJuYW1lIjoiQWNjZW50Q29sb3IifX0sImFwcENhdGVnb3J5Ijp7InJhd1Zh
		bHVlIjoicHVibGljLmFwcC1jYXRlZ29yeS5lZHVjYXRpb24ifSwiYXBwSWNv
		biI6eyJhc3NldCI6eyJuYW1lIjoiQXBwSWNvbiJ9fSwiY2FwYWJpbGl0aWVz
		IjpbeyJwdXJwb3NlIjoicGhvdG9MaWJyYXJ5IiwicHVycG9zZVN0cmluZyI6
		IllvdXIgZHJhd2luZ3Mgd2lsbCBzYXZlIGluIHlvdXIgYWxidW1zLiJ9XSwi
		c3VwcG9ydGVkRGV2aWNlRmFtaWxpZXMiOlsicGFkIiwicGhvbmUiXSwic3Vw
		cG9ydGVkSW50ZXJmYWNlT3JpZW50YXRpb25zIjpbeyJwb3J0cmFpdCI6e319
		LHsibGFuZHNjYXBlUmlnaHQiOnt9fSx7ImxhbmRzY2FwZUxlZnQiOnt9fSx7
		InBvcnRyYWl0VXBzaWRlRG93biI6eyJjb25kaXRpb24iOnsiZGV2aWNlRmFt
		aWxpZXMiOlsicGFkIl19fX1dfV19XSwidGFyZ2V0cyI6WyJBcHBNb2R1bGUi
		XSwidHlwZSI6eyJleGVjdXRhYmxlIjpudWxsfX1dLCJ0YXJnZXRNYXAiOnsi
		QXBwTW9kdWxlIjp7ImRlcGVuZGVuY2llcyI6W10sImV4Y2x1ZGUiOltdLCJu
		YW1lIjoiQXBwTW9kdWxlIiwicGF0aCI6IkFwcCIsInJlc291cmNlcyI6W10s
		InNldHRpbmdzIjpbXSwidHlwZSI6ImV4ZWN1dGFibGUifX0sInRhcmdldHMi
		Olt7ImRlcGVuZGVuY2llcyI6W10sImV4Y2x1ZGUiOltdLCJuYW1lIjoiQXBw
		TW9kdWxlIiwicGF0aCI6IkFwcCIsInJlc291cmNlcyI6W10sInNldHRpbmdz
		IjpbXSwidHlwZSI6ImV4ZWN1dGFibGUifV0sInRvb2xzVmVyc2lvbiI6eyJf
		dmVyc2lvbiI6IjUuNi4wIn19
		</data>
		<key>manifestHash</key>
		<data>
		Ly4MSRdNRbL+dGPWH5J6GwSg/5JiPcY9M7udOhAYLHE=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.6.0-dev</string>
	</dict>
</dict>
</plist>
