<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Guide.TaskState</key>
	<dict>
		<key>completedTaskIDs</key>
		<array/>
		<key>hasSeenIntro</key>
		<false/>
		<key>pageIDsWithRevealedSolutions</key>
		<dict/>
		<key>stepIndex</key>
		<integer>0</integer>
		<key>successMessageShowing</key>
		<false/>
		<key>taskID</key>
		<string>$null</string>
	</dict>
</dict>
</plist>
